@font-face{font-family:'Archivo Black';font-weight:400;src:url(fonts/ArchivoBlack-400.woff2) format('woff2')}
@font-face{font-family:'Caveat';font-weight:700;src:url(fonts/Caveat-700.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:500;src:url(fonts/Montserrat-500.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:600;src:url(fonts/Montserrat-600.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:700;src:url(fonts/Montserrat-700.woff2) format('woff2')}
@font-face{font-family:'Montserrat';font-weight:800;src:url(fonts/Montserrat-800.woff2) format('woff2')}
